<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBamHoLiId4bru4pBg6UaQrhsBTQHFvXWg</string>
	<key>GCM_SENDER_ID</key>
	<string>1077354090613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.swara</string>
	<key>PROJECT_ID</key>
	<string>swaradev-3bdb6</string>
	<key>STORAGE_BUCKET</key>
	<string>swaradev-3bdb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077354090613:ios:122fdbb8f70391cafba83c</string>
</dict>
</plist>